.content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
}

.card {
  border-radius: 1rem;
  /* -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; */
  box-shadow: 0 6px 10px rgba(19, 92, 238, 0.25);
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-height: 500px;
}

.card--inverse {
  flex-direction: column-reverse;
}

.card__row {
  align-items: center;
  background-color:white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* .card__row--colored {
  background-color:red;
} */

/* .card__row--right {
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
} */

/* .card__row--left {
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
} */

.card__body {
  margin: auto 0;
  text-align: center;
}
.card__title{
  margin: auto 0;
  text-align: center;
}








.form {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
}

.form__field{
  margin-bottom: 1rem;
  width: 100%;
}

.form__label{
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
}

.form__input, .form__text-area {
  background-color: var(--color-light-gray);
  border: 0;
  border-radius: .25rem;
  
  color:gray;
  outline-color: darkgray;
  padding: .5rem 1rem;
  width: 100%;
  /* resize: vertical; */
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .card--inverse {
    flex-direction: row-reverse;
  }

  
  .card__row--right {
    border-radius: 1rem 0 0 1rem;
    
  }

}